@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
    --primary-color:#28bf96;
    --primary-color-dark:#209677;
    --text-dark:#111827;
    --text-light:#6b7280;
    --white:#ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

.btn{
    padding: 1rem 2rem;
    font-weight: 500;
    text-align: center;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: var(--primary-color-dark);
}

#loginBtn,
#registerBtn{
    margin-left: 10px;
}

body
{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container{
    position:fixed;
    max-width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    padding: 2rem 1rem;
    position:fixed;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    line-height: 100px;
    gap: 1rem;
}

.nav_logo{
    font-size: 1.5rem;
    font-weight: 600;
    float: center;
    color: var(--primary-color);
    padding-left: 100px;
}

.nav_menu ul{
    display: flex;
    padding-left: 350px;
    
}

.nav_menu ul li{
    list-style-type: none;
}
.nav_menu ul li .link{
        text-decoration: none;
        font-weight: 500;
        padding-bottom: 15px;
        margin: 0 25px;
}

.link:hover, .active{
    border-bottom: 2px solid black;
}

.header{
    padding: 0 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-content: center;
    padding-left: 200px;

}
.content h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-dark);
}

.content h1 span{
    font-weight: 400;
}

.content p{
    margin-bottom: 2rem;
    color: var(--text-light);
    line-height: 1.75rem;
}

.image{
    position:relative;
    text-align: center;
    isolation:auto;

}

.image_bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 450px;
    background-color: var(--primary-color);
    border-radius:100%;
    z-index: -1;
}


.image img{
    width:100%;
    max-width: 475px;
    padding-left: 50px;
    padding-bottom: 25px;
}

